#!/bin/bash
BACKUP_DIR="{{ pzserver_backup_dir }}"
SOURCE_DIR="{{ pzserver_save_dir }}"
DATE=$(date +%Y%m%d_%H%M%S)
KEEP_DAYS={{ pzserver_backup_keep_days }}

mkdir -p "$BACKUP_DIR"
cd "$SOURCE_DIR" && zip -r "$BACKUP_DIR/zomboid_$DATE.zip" .

find "$BACKUP_DIR" -name "zomboid_*.zip" -mtime +$KEEP_DAYS -delete
